#about {
  background-image: linear-gradient(to right, $primary-clr, $secondary-clr);
  .flex {
    gap: 5rem;
    .about-showcase {
      flex: 3;
    }
    .items {
      flex: 9;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      .item {
        gap: 10px;
        align-items: flex-start;
        .item-icon {
          display: block;
          color: $primary-clr;
          background-color: $white-clr;
          font-size: 1.75rem;
          min-width: 60px;
          min-height: 60px;
          border-radius: $border-radius-lg;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          color: $white-clr;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #about {
    background-color: $off-white-clr;
    background-image: none;
    .flex {
      flex-direction: column;
      .about-showcase {
        order: 2;
      }
      .items {
        order: 1;
        .item {
          flex-direction: column;
          background-image: linear-gradient(
            to right,
            $primary-clr,
            $secondary-clr
          );
          padding: 2rem;
          border-radius: $border-radius-sm;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #about {
    .flex {
      .items {
        grid-template-columns: 1fr;
        .item {
          max-width: 500px;
          flex-direction: row;
        }
      }
    }
  }
}
