body {
  color: $black-clr;
  background-color: $white-clr;
  font-family: $ff-primary;
  font-weight: $fw-light;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: $gray-clr;
  font-size: 0.875rem;
}
h2 {
  color: $black-clr;
  font-size: 2rem;
  font-weight: $fw-bolder;
  font-family: $ff-secondary;
  text-transform: capitalize;
  line-height: $lh-md;
  margin-bottom: 1rem;
  .text-blue {
    color: $primary-clr-2;
  }
  .text-red {
    color: $primary-clr;
  }
}
h3 {
  color: $white-clr;
  font-size: 1.5rem;
  font-weight: $fw-bold;
  margin-bottom: 0.5rem;
}
h4 {
  color: $black-clr;
  font-size: 1.25rem;
  font-weight: $fw-bold;
  font-family: $ff-secondary;
  margin-bottom: 1rem;
}
//=========== Global Style ============//
.container {
  width: 90%;
  max-width: 75rem;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-pd {
  padding: 6.25rem 0;
}
.section-bg {
  background-color: $off-white-clr;
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
